    <footer class="footer">
        <div class="container"> 

            <!-- //To check -->
            <p class="text-muted text-center">&copy;&nbsp;COMP229 Web Application Development</p>
        </div>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var getTitle = "<%= title %>";
    </script>
    <!-- //This javascripts will run to the client side -->
    <script src="/javascripts/appclient.js"></script>    
</body>
</html>